@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>

<style>
    .page {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    main {
        flex: 1;
        width: 100%;
    }
</style>